<configData id="CLYDE DEMO TOPSIDES">
  <objectList>
    <object id="S1" order="10" water="Y" type="Separator">
      <inlet>
        <stream id="ClydeWell-101" in="Y"/>
        <stream id="2HP-Liq" in="N"/>
        <stream id="T1-to-S1" in="N"/>
      </inlet>
      <outlet>
        <stream id="S1-Vap" type="V" out="N"/>
        <stream id="S1-Liq" type="L" out="N"/>
      </outlet>
    </object>
    <object id="S4" order="20" water="Y" type="Separator">
      <inlet>
        <stream id="OrionWell" in="Y"/>
      </inlet>
      <outlet>
        <stream id="S4-Vap" type="V" out="N"/>
        <stream id="S4-Liq" type="L" out="N"/>
      </outlet>
    </object>
    <object id="C1" order="25" type="Controller">
      <target-stream id="S4-Liq"/>
      <control-stream id="OrionWell"/>
    </object>
    <object id="S5" order="30" water="Y" type="Separator">
      <inlet>
        <stream id="FCWell" in="Y"/>
      </inlet>
      <outlet>
        <stream id="S5-Vap" type="V" out="N"/>
        <stream id="S5-Liq" type="L" out="N"/>
      </outlet>
    </object>
    <object id="S2" order="40" water="Y" type="Separator">
      <inlet>
        <stream id="ClydeWell-102" in="Y"/>
        <stream id="S1-Liq" in="N"/>
        <stream id="S4-Liq" in="N"/>
        <stream id="1HP-Liq" in="N"/>
        <stream id="T2-to-S2" in="N"/>
      </inlet>
      <outlet>
        <stream id="S2-Vap" type="V" out="N"/>
        <stream id="S2-Liq" type="L" out="N"/>
      </outlet>
    </object>
    <object id="S3" order="50" water="Y" type="Separator">
      <inlet>
        <stream id="S2-Liq" in="N"/>
        <stream id="S5-Liq" in="N"/>
        <stream id="LP-Liq" in="N"/>
      </inlet>
      <outlet>
        <stream id="S3-Liq" type="L" out="Y"/>
        <stream id="S3-Vap" type="V" out="N"/>
      </outlet>
    </object>
    <object id="LP" order="60" water="Y" type="Scrubber">
      <inlet>
        <stream id="S4-Vap" in="N"/>
        <stream id="S2-Vap" in="N"/>
        <stream id="S3-Vap" in="N"/>
      </inlet>
      <outlet>
        <stream id="LP-Vap" type="V" out="N"/>
        <stream id="LP-Liq" type="L" out="N"/>
      </outlet>
    </object>
    <object id="1HP" order="70" water="Y" type="Scrubber">
      <inlet>
        <stream id="S5-Vap" in="N"/>
        <stream id="S1-Vap" in="N"/>
        <stream id="LP-Vap" in="N"/>
      </inlet>
      <outlet>
        <stream id="1HP-Vap" type="V" out="N"/>
        <stream id="1HP-Liq" type="L" out="N"/>
      </outlet>
    </object>
    <object id="2HP" order="80" water="Y" type="Scrubber">
      <inlet>
        <stream id="1HP-Vap" in="N"/>
      </inlet>
      <outlet>
        <stream id="2HP-Vap" type="V" out="N"/>
        <stream id="2HP-Liq" type="L" out="N"/>
      </outlet>
    </object>
    <object id="T1" order="90" water="Y" type="Tee">
      <inlet>
        <stream id="2HP-Vap" in="N"/>
      </inlet>
      <outlet>
        <stream id="T1-to-T2" type="V" out="N"/>
        <stream id="T1-to-S1" type="V" out="N"/>
      </outlet>
    </object>
    <object id="T2" order="100" water="Y" type="Tee">
      <inlet>
        <stream id="T1-to-T2" in="N"/>
      </inlet>
      <outlet>
        <stream id="T2-Export" type="V" out="Y"/>
        <stream id="T2-to-S2" type="V" out="N"/>
      </outlet>
    </object>
    <object id="C2" order="110" type="Controller">
      <target-stream id="S2-Liq"/>
      <control-stream id="ClydeWell-101"/>
      <control-stream id="ClydeWell-102"/>
    </object>
  </objectList>
</configData>